.sign-in {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    padding-bottom: 29%;
    /* position: relative; */
    height: fit-content;
    display: flex;
    justify-content: center;
}

.sign-in .btn--primary {
    margin-bottom: 5%;
}

.login-container {
    width: 100%;
    text-align: -webkit-center;
}

.form-group {
    align-items: center;
    align-self: center;
    align-content: center;
    margin: 0;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
}

.login-container .login-forgot {
    width: fit-content;
    padding: 1% 2%;
    font-size: 13px;
}

.login-container .login-forgot a {
    text-decoration: none;
    color: white;
}

.login-container .login-forgot:hover {
    background-color: rgb(220, 220, 220);
    font-weight: bolder;
}

.login-container .login-forgot:hover a {
    color: black;
}

.login {
    /* position: absolute; */
    margin: 2%;
    padding: 1%;
    /* border: 1px solid rgba(150, 150, 150, 0.5); */
    background-color: rgb(255, 255, 255);
    width: 25%;
    margin-bottom: 0;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.login-forgot {
    padding: 1%;
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin-bottom: 0;
    margin-top: 0% !important;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    background-color: #333;
    color: white;
    font-size: 12px;
}

.forgot a {
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.sign-in-form {
    margin-top: 1%;
    margin-bottom: 2%;
    width: 100%;
    border: 1px solid rgba(66, 63, 63, 0.527) !important;
    padding: 2%;
}

.sign-in-form:hover {
    border: 1px solid rgb(156, 24, 24) !important;
}

.updown {
    display: inline-block;
}

.login button {
    width: 100%;
    padding: 2%;
}

.forgot {
    text-align: center;
    padding-top: 2%;
    /* color: rgb(252, 252, 252); */
}

.forgot label {
    margin-left: 1%;
    margin-right: 1%;
    color: rgb(175, 37, 37);
}

a,
.form-group label {
    color: #333;
    text-decoration: none;
}

.login .form-group {
    width: 100%;
}

@media screen and (max-width: 820px) {
    .fillform {
        width: 100%;
    }
}

.title-signin {
    text-align: center;
    font-size: 18px;
    margin-bottom: 3%;
}