.update-btn {
    background-color: rgb(189, 76, 76);
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn--primary {
    background-color: rgb(231, 231, 231);
}

.todo-container {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.todo-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    border: 1px solid rgb(220, 220, 220);
    list-style-type: none;
    padding: 1%;
    /* border-radius: 10px; */
}

.todo-card {
    width: 26%;
    height: 100%;
    margin: 1%;
    padding: 2%;
    border: 1px solid black;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.todo-card div {
    width: 100%;
}

.todo-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(195, 18, 127);
}

.todo-content {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: rgb(195, 18, 127);
}

.todo-date {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.todo-search {
    display: flex;
    width: 100%;
    /* justify-content: space-between !important; */
    background-color: rgb(11, 68, 112);
    justify-content: space-evenly;
}

.todo-search div select,
.todo-search div input {
    padding: 3%;
    font-size: 17px;
}

.todo-search div {
    /* border: 1px solid black; */
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
}

.todo-search div input {
    width: 100% !important;
}

.inp-text {
    width: 55% !important;
}

.inp-select {
    width: 15%;
}

.no-todo {
    align-self: center;
    align-content: center;
    text-align: center;
    border: 1px solid rgb(220, 220, 220);
}

.modal-form {
    display: flex;
    flex-direction: column;
    top: 0;
    align-items: center;
    padding: 1%;
    height: fit-content;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.modal-form div {
    width: 100%;
    margin: 2%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.modal-form input {
    width: 100%;
    padding: 1%;
    margin: 1%;
}

.todo-list-container button {
    width: 100%;
    padding: 2%;
    margin: 1% 0;
}

.btn-container button, .btn-del-container button {
    width: 100%;
    padding: 2%;
}

.btn-del-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btn-del-container a {
    width: 45%;
    padding: 2%;
    margin: 1% 0;
}

button svg {
    font-size: 20px;
    margin: 0 0 0 5px;
}